---
layout: archive
---

{{ content }}
<!-- Adding deprecation warning - Deceber 2023 -->
<div style="background-color: #ffcccb; color: black; padding: 10px; text-align: center;">
    <p>This site is no longer being updated. Please visit my new site at: <a href="https://www.jacobscott.io">https://jacobscott.io</a></p>
</div>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
